<app-header></app-header>

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <!-- <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt=""
                class="img-fluid mb-3 d-none d-md-block"> -->

            <img src="../../../assets/imgSignup.jpg" alt=""
                class="img-fluid mb-5 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic text-muted mb-0">Visit Our Website To for fast food delivery</p>

        </div>

        <!-- Registeration Form -->
        <div class="col-md-7 col-lg-6 ml-auto">

            <div class="alert alert-success" *ngIf="registered">
                Registered Successfully..
              </div>
              
              <!-- <ng-template #loggedOut>
                Please friend, login.
              </ng-template> -->
            
            <form [formGroup]="signupForm" (ngSubmit)="SubmitForm()">
                <div class="row">

                    <!-- Fullname Name -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user text-muted"></i>
                            </span>
                        </div>
                        <input id="FullName" type="text" name="FullName" formControlName="FullName" placeholder="FullName Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    
                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope text-muted"></i>
                            </span>
                        </div>
                        <input id="email" type="email" formControlName="EmailId" name="email" placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square text-muted"></i>
                            </span>
                        </div>

                        <input id="phoneNumber" type="number" formControlName="MobileNo" name="phone" placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3">
                    </div>.

                    <!-- Job -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie text-muted"></i>
                            </span>
                        </div>
                        <select id="role" name="roletitle" formControlName="Role"  (change)="Change($event.target.value)"
                            class="form-control custom-select bg-white border-left-0 border-md">
                            <option value="" disabled>Select Role</option>
                            <option value="User">User</option>
                            <option value="Restaurant">Restaurant</option>
                        </select>
                    </div>
                        <!-- restaurant -->
                        <div *ngIf="isrest" class="input-group col-lg-12 mb-4">
                            <div class="input-group-prepend">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-lock text-muted"></i>
                                </span>
                            </div>
                            <input id="password" type="text" formControlName="RestaurantName" name="restaurent" placeholder="Enter Restaurant Name"
                                class="form-control bg-white border-left-0 border-md"><br/>
                        </div><br/>
                    <!-- Password -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="password" type="password" formControlName="Password" name="password" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock text-muted"></i>
                            </span>
                        </div>
                        <input id="passwordConfirmation" type="password" formControlName="ConfirmPassword" name="passwordConfirmation"
                            placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Create Your Account</span>
                        </button>
                    </div>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                    <!-- Social Login -->
                    <div class="form-group col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa fa-facebook-f mr-2"></i>
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                            <i class="fa fa-twitter mr-2"></i>
                            <span class="font-weight-bold">Continue with Twitter</span>
                        </a>
                    </div>

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered?
                             <a [routerLink]="['/login']"  class="text-primary ml-2">Login</a></p>
                  </div>

                </div>
            </form>
             
        </div>
    </div>
</div>

<app-footer></app-footer>